/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
* {
   margin: 0;
 }
  
 body {
   background-color: #ffeae3;
   padding-left: 40px;
   padding-right: 60px;
 }
  
 #wrapper {
   background-color: #fcfdff;
   padding: 10px;
   margin: auto;
   width: 100%;
   height: 800px;
   display: grid;
   grid-template-areas: 
   'header header'
   'main sidebar'
   'footer footer';
   grid-template-rows: 1fr 5fr 1fr;
 }
  
 .header {
  grid-area: header;
  background-color: #23395d;
  color: white;
  padding-top: 20px;
  text-align: center;
  position: relative; 
}

 .navigatie ul {
  display: flex;
  justify-content: flex-start; 
  gap: 15px;
  list-style: none; 
  padding: 10px;
  background-color: #bf6431;
  height: 30px;
  font-size: 20px;
}

.navigatie {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

a {
  color: white;
}


.header-nav {
    background-color: #4A4A7D;
    padding: 10px; 
}

 .navigatie a:hover {
  background-color: #F67280; 
  color: white;
 }

 .afbeelding1 {
  /* position: absolute;
  top: 10px;
  left: 85.5%; */
  position: relative;
  z-index: 2;
  float: right;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
 }

 .main {
  grid-area: main;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px (0, 0, 0, 0.1);
}

  
.sidebar {
  grid-area: sidebar;
  background-color: #bf6431;
  padding: 20px;
}
h3 {
  margin-bottom: 20px;
}
  
 footer {
  grid-area: footer;
   clear: both;
   text-align: center;
   background-color: #23395d;
   color: #ffffff;
   height: 100px;
   padding-top: 60px;
 }
